*{
  margin: 0;
  padding: o;
  box-sizing: border-box;
}

body{
  background: #00093d ;
  color: antiquewhite;
}

.bookList {
  margin: 3rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.book {
  background: rgb(1, 43, 43);
  border-radius: 1rem;
  width: 230px;
  height: 335px;
  text-align: center;
  padding: 30px 10px;
}

.book-img {
  width: 200px;
  height: 220px;
}