* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
  .container {
    margin: auto;
    display: grid;
    grid-template-columns:  1fr;
    gap: 1rem;
  }

  @media (min-width: 768px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 992px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1200px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
    }
  }